.navbar1 .logo{
    margin-left: 150px;
    padding: 50px;
}
.navbar1 .logo h1{
    font-size: 50px;
    font-weight: bolder;
    color:white;
}
.navbar1 .MENU{
    margin-right: 150px;
    padding: 50px;
    
}
.navbar1 a{
    margin-left: 50px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
.home{
    background-image: url(./coffee-3120750_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
}
.HOME{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.home1{
    height: 60vh;
}
.home1 h4{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.home1 h1{
    font-size: 170px;
    color: white;
    font-weight: bolder;
}
.home1 h3{
    color: white;
    font-weight: bolder;
}
.home::after{
    content: " ";
    background-color: brown;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.about1 h4{
    font-weight: bolder;
    margin-top: 50px;
    color: chocolate;
}
.about1 h1{
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 70px;
}
.about2 .card{
    border: none;
}
.services1{
    margin-top: 20px;
    margin-bottom: 50px;
}
.cr1{
    margin-left :100px; 
}
.third{
    background-image: url(./coffee-1324126__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.third1 h1{
    margin-top: 50px;
}
.third1 h4{
    font-weight: bolder;
    font-size: 30px;
    color: white;
}
.third1 h1{
    font-weight: bolder;
    font-size: 80px;
    color: white;
}
.third1 h3{
    font-weight: bolder;
    font-size: 50px;
    color: white;   
}
.box{
    margin-bottom: 100px;
margin-top: 30px;
}
.price1 .container{
    margin-top: 20px;
    margin-bottom: 80px;
}
.booking1{
    background-image: url(./coffee-5447420_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form input{
    width: 500px;
    height: 50px;
    margin-top: 10px;
    border: rgb(231, 172, 166) 2px solid;
    background-color:rgba(165, 42, 42, 0.322);
}
form textarea{
    width: 500px;
    height: 70px;
    margin-top: 10px;
    border: none;
    border: rgb(231, 172, 166) 2px solid;
    background-color:rgba(165, 42, 42, 0.322);
    color: white;
}
form button{
    width: 500px;
    height: 50px;
    margin-top: 10px;
    border: none;
    background-color: burlywood;
    font-weight: bolder;
}
.contact2 form input{
    width: 500px;
    height: 50px;
    margin-top: 10px;
    border: solid 1px gray;
    background-color:white;
}
.contact2 form textarea{
    width: 500px;
    height: 148px;
    margin-top: 10px;
    border: none;
    border: gray 1px solid;
    background-color:white;
    color: gray;
}
.contact2 form button{
    width: 500px;
    height: 50px;
    margin-top: 10px;
    border: none;
    background-color: rgb(243, 143, 12);
    font-weight: bolder;
}